page {
	background-color: rgba(255, 255, 255, 0.3);
}

.productNav {
	display: flex;
	flex-direction: row;
	font-family: "Microsoft YaHei";
}
.left {
	width: 25%;
	font-size: 30rpx;
	background-color: #fff;
}
.left view {
	text-align: center;
	height: 90rpx;
	line-height: 90rpx;
}

.selected {
	background-color: #f4f4f4;
	border-left: 2px solid #c74772;
	font-weight: bold;
	color: #c74772;
}
.normal {
	background-color: #fff;
	// border-bottom: 1px solid #f2f2f2;
}
.right {
	width: 75%;
	margin: 0;
}
swiper {
	height: 100vh;
	background-color: #f4f4f4;
}
.type {
	background-color: #f4f4f4;
	// height: 800rpx;
}
.swpitem {
	display: flex;
	flex-wrap: wrap;
	.rankitem {
		width: 44%;
		background-color: #fff;
		height: 130rpx;
		line-height: 130rpx;
		text-align: center;
		margin: 10rpx;
		padding: 5rpx;
		border-radius: 30rpx;
		vertical-align: center;
		font-size: 14px;
		display: flex;
		border: 1px solid rgb(233, 191, 227);
		overflow: hidden;
		// navigator {
			display: flex;
			.title {
				flex: 2;
			}
			image {
				flex: 1;
				width: 70rpx !important;
				height: 150rpx !important;
				vertical-align: center;
			}
		// }
	}
}
scroll-view {
	height: 1200rpx;
}
